.progress-bar {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  display: flex;
}

.progress-item {
  height: 20px;
  width: 40px;
}

.progress {
  background-color: red;
}

.not-filled {
  background-color: white;
}